<div class="container mt-5">
    <ul class="list-group">
      <li 
      *ngFor="let movie of moviesArray"
      class="list-group-item list-group-item-action"
      (click)="selectedForEdit(movie)"
      [class.active]="movie == selectedMovie"
      >
      <span class="badge badge-primary">{{ movie.id }}</span> {{ movie.name }} - {{ movie.gender }}
      </li>
    </ul>
    <div class="card mt-3">
      <div class="card-body">
        <div class="card-title">
          Enter a new movie:
        </div>
        <div class="form-group">
          <input type="text" [(ngModel)]="selectedMovie.name" placeholder="Enter the title of a movie" class="form-control">
          <input type="text" [(ngModel)]="selectedMovie.gender" placeholder="Enter the genre of the film" class="form-control">        
        </div>
        <button (click)="addOrEditMovie()" 
        class="btn btn-primary">
          Submit
        </button>
        <button *ngIf="selectedMovie.id !== 0" 
        class="btn btn-danger"
        (click)="deleteMovie()">
          Delete
        </button>
        <a routerLink="/description/{{selectedMovie.id}}">
          <button class="btn btn-primary">
            Description
          </button>
        </a>
      </div>
    </div>
  </div>