body {
  font-family: 'Century Gothic';
  font-size: 14px;
}

header {
  background: #5E8BBD;
  text-align: center;
}

footer {
  background: #9D62BF;
  text-align: center;
}

aside {
  background: #A5718D;
}

nav {
  background: #2EC298;
}