.row {
  display: flex;

}

.column {
  display: flex;
  flex-direction: column;
}

img {
  margin: 5px;
  max-width: 100%;
}

.grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  margin: 5px;
  font-family: 'Century Gothic';
  font-size: 13px;
}

@media screen and (max-width: 600px) {
  .row {
    flex-direction: column;
  }
}


