* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background: #333333;
  font-family: 'Century Gothic';
  font-size: 24px;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows:;
  grid-gap: 15px;
  text-align: center;
  padding: 100px;
}

.item {
  background: #666666;
  color: white;
  padding: 10px;
  border-radius: 20px;
}

.header {
  grid-area: header;
}

.nav {
  grid-area: nav;
}

.section {
  grid-area: section;
}

.aside {
  grid-area: aside;
}

.footer {
  grid-area: footer;
}

.grid-template-area {
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 50px 200px 50px;
  grid-template-areas: 
  "header header header"
  "nav section aside"
  "footer footer footer"
  ;
}

.deep-header { grid-area: dheader;}
.deep-article { grid-area: darticle;}
.deep-footer { grid-area: dfooter;}

.item-section {
  grid-template-rows: 50px 150px 50px;
  grid-template-areas:
  "dheader dheader dheader"
  "darticle darticle darticle"
  "dfooter dfooter dfooter"
  ;
}

.deep-header, .deep-article, .deep-footer {
  background: #999999;
  border-radius: 20px;
  margin: 10px;
}